OpenVAS-automation.json
{
  "name": "OpenVAS-automation",
  "nodes": [
    {
      "parameters": {
        "command": "=TARGET_NAME=\"MyTarget_$(date +%s)\"\nsudo -u _gvm gvm-cli --gmp-username admin --gmp-password 3b4b022b-0acb-499b-8e96-b82777077a51 socket --xml \"<create_target><name>${TARGET_NAME}</name><hosts>{{ $json.message.text }}</hosts><port_list id='730ef368-57e2-11e1-a90f-406186ea4fc5'/></create_target>\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        192,
        0
      ],
      "id": "722106e6-d648-4ba5-bf13-4162a758f464",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "jsCode": "const xml = $input.all()[0].json.stdout;\nconst idMatch = xml.match(/id=\"([^\"]+)\"/);\nreturn [{ json: { target_id: idMatch ? idMatch[1] : null } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "2cf1c66c-792d-4049-90fa-546c95a19c68",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "command": "=SCAN_NAME=\"MyScan_$(date +%s)\"\nsudo -u _gvm gvm-cli --gmp-username admin --gmp-password 3b4b022b-0acb-499b-8e96-b82777077a51 socket --xml \"<create_task><name>${SCAN_NAME}</name><config id='daba56c8-73ec-11df-a475-002264764cea'/><target id='{{ $json.target_id }}'/><scanner id='08b69003-5fc2-4037-a479-93b440211c73'/></create_task>\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        592,
        0
      ],
      "id": "56c0e2fd-c9ff-4e4a-ab29-cf9f13c78a73",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "jsCode": "const xml = $input.all()[0].json.stdout;\nconst idMatch = xml.match(/id=\"([^\"]+)\"/);\nreturn [{ json: { task_id: idMatch ? idMatch[1] : null } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "40740e48-cfa0-48e1-b74b-42876bc4a9b9",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "command": "=sudo -u _gvm gvm-cli --gmp-username admin --gmp-password 3b4b022b-0acb-499b-8e96-b82777077a51 socket --xml \"<start_task task_id='{{ $json.task_id }}'/>\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "b246bfd8-e171-4a97-b979-5e0bf021a468",
      "name": "Execute Command2"
    },
    {
      "parameters": {
        "command": "=sudo -u _gvm gvm-cli --gmp-username admin --gmp-password 3b4b022b-0acb-499b-8e96-b82777077a51 socket --xml \"<get_reports report_id='{{ $json.report_id }}' format_id='a3810a62-1f62-11e1-9219-406186ea4fc5'/>\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        384,
        224
      ],
      "id": "79a39c72-4b3a-4534-ae8d-8af5e5398ab6",
      "name": "Execute Command3"
    },
    {
      "parameters": {
        "jsCode": "const xml = $input.all()[0].json.stdout;\nconst idMatch = xml.match(/<report_id>([^<]+)<\\/report_id>/);\nreturn [{ json: { report_id: idMatch ? idMatch[1] : null } }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        224
      ],
      "id": "c951a63a-73d2-4e0a-9939-bd6399d8179a",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const xml = $input.all()[0].json.stdout;\nconst contentMatch = xml.match(/<\\/report_format[^>]*>([\\s\\S]+?)<\\/report>/);\nreturn [{ json: { report_content: contentMatch ? contentMatch[1] : null } }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        224
      ],
      "id": "e951e38b-8735-44f2-995e-cdd5f8ef271e",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "command": "=echo  {{ $json.report_content }} | base64 -d"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        784,
        224
      ],
      "id": "4fc7b103-f0b9-4158-b957-c559d7c59266",
      "name": "Execute Command4"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "9caf4e68-a3dc-4687-a4ec-8b545a9f0ff0",
      "name": "Telegram Trigger",
      "webhookId": "ff85b2ab-6352-4c56-9618-68d8b9bd51da",
      "credentials": {
        "telegramApi": {
          "id": "HePOgLC2ZUcLRV2W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.stdout }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        224
      ],
      "id": "eb85f98b-4281-44d7-811c-285c49bff647",
      "name": "Send a text message",
      "webhookId": "be891e4e-4114-4784-ac14-ff908cfb4383",
      "credentials": {
        "telegramApi": {
          "id": "HePOgLC2ZUcLRV2W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        176,
        224
      ],
      "id": "273ac7a4-65a5-40f6-a34a-6f2163f2000e",
      "name": "Wait",
      "webhookId": "9171e099-e95d-418a-b00d-096e527f0de3"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Execute Command2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command3": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Execute Command4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command4": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Execute Command3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e94dea4a-9805-452b-a640-f146198202e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ace91eeccdd067bf94e2495c86883fde0cbc3a5934e7936a4f9ddc621461ad8"
  },
  "id": "tOdXHijXnniD9Kl7",
  "tags": []
}